

@{
    ViewData["Title"] = "Confirmation";
}

@model Mission4.Models.AppResponse

<!--Page to View the Confirmation after submitting a movie-->

<div class="text-center">
    <h2 class="display-4">You added @Model.Title to your movie database</h2>
    <p>Thank you. You may now return to another page by clicking on the navigation bar above</p>
</div>
