
@{
    ViewData["Title"] = "Podcasts";
}

<div class="text-center">
    <h1 class="display-4">My Podcasts</h1>

    <p>Click <a href="https://baconsale.com/">here</a> to listen to my Hickory-Smoked Pop Culture Podcast</p>
</div>


